<template>
    <v-row>
        <v-col cols="12">
            <v-card elevation="3">
                <v-form ref="form" :disabled="disabled">
                    <v-card-text>
                        <h2 class="text-h4 text--primary">Account</h2>

                        <v-text-field v-model="account.name" label="Name"></v-text-field>
                        <v-select
                            v-model="account.typeID"
                            :items="accountTypes"
                            item-text="name"
                            item-value="id"
                            label="Standard"
                        ></v-select>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn v-if="isNaN(accountID)" text color="teal accent-4" @click="createAccount()">
                            Create
                        </v-btn>
                        <v-btn v-if="!isNaN(accountID)" text color="teal accent-4" @click="updateAccount()">
                            Update
                        </v-btn>
                        <v-btn v-if="!isNaN(accountID)" text color="teal accent-4" @click="deleteAccount()">
                            Delete
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-col>
        <v-col v-if="!isNaN(accountID)" cols="12">
            <v-card elevation="3">
                <v-card-text>
                    <h2 class="text-h4 text--primary">Transactions</h2>
                    <v-data-table :headers="headers" :items="desserts" :items-per-page="5"></v-data-table>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import axios from "axios";
import AccountService from "../service/AccountService";
export default {
    name: "Account",
    data: () => ({
        account: {
            name: "",
            typeID: NaN,
            budgetID: NaN,
            value: 0,
            id: NaN,
        },
        accountTypes: [],
        disabled: false,
        headers: [
            {
                text: "Dessert (100g serving)",
                align: "start",
                sortable: false,
                value: "name",
            },
            { text: "Calories", value: "calories" },
            { text: "Fat (g)", value: "fat" },
            { text: "Carbs (g)", value: "carbs" },
            { text: "Protein (g)", value: "protein" },
            { text: "Iron (%)", value: "iron" },
        ],
        desserts: [
            {
                name: "Frozen Yogurt",
                calories: 159,
                fat: 6.0,
                carbs: 24,
                protein: 4.0,
                iron: "1%",
            },
            {
                name: "Ice cream sandwich",
                calories: 237,
                fat: 9.0,
                carbs: 37,
                protein: 4.3,
                iron: "1%",
            },
        ],
    }),
    methods: {
        createAccount() {
            let account = this.account;
            delete account.id;
            AccountService.create(account)
                .then(response => {
                    AccountService.getAll();
                    console.log(response);
                    let id = response.data.id;
                    this.$router.replace({ name: "AccountID", params: { id } });
                    //this.$router.go();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        deleteAccount() {
            AccountService.delete(this.account.id)
                .then(response => {
                    console.log(response);
                    AccountService.getAll();
                    this.$router.push({ name: "Dashboard" });
                })
                .catch(error => {
                    console.log(error);
                });
        },
        updateAccount() {
            let account = {
                name: this.account.name,
                typeID: this.account.typeID,
                budgetID: this.account.budgetID,
            };
            AccountService.update(this.account.id, account)
                .then(response => {
                    AccountService.getAll();
                    let id = response.data.id;
                    this.$router.replace({ name: "AccountID", params: { id } });
                    this.$router.go();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        init() {
            if (isNaN(this.accountID)) {
                this.setDefault();
            } else {
                AccountService.get(this.accountID)
                    .then(response => {
                        let account = response.data;
                        if (String(this.budgetID) == String(account.budgetID)) {
                            this.account = account;
                        } else {
                            this.$router.push({ name: "Dashboard" });
                        }
                    })
                    .catch(error => {
                        // Implement default API url...
                        console.log(error);
                    });
            }
        },
        setDefault() {
            this.account = {
                name: "",
                typeID: NaN,
                budgetID: this.budgetID,
                value: 0,
                id: NaN,
            };
        },
    },
    computed: {
        accountID() {
            if (this.$route.params.id) {
                try {
                    return parseInt(this.$route.params.id);
                } catch {
                    return NaN;
                }
            } else {
                return NaN;
            }
        },
        budgetID() {
            try {
                return parseInt(this.$store.getters.budgetID);
            } catch {
                return NaN;
            }
        },
    },
    watch: {
        budgetID(value) {
            this.account.budgetID = value;
        },
        accountID() {
            this.init();
        },
    },
    created() {
        this.setDefault();
        axios
            .get(this.$store.getters.backendAPI + "/api/accounttypes")
            .then(response => {
                this.accountTypes = response.data;
            })
            .catch(error => {
                // Implement default API url...
                console.log(error);
            });
        this.init();
    },
};
</script>
