<template>
    <v-app>
        <navigation></navigation>
        <v-main>
            <v-container>
                <router-view />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import Navigation from "../components/Navigation.vue";

export default {
    name: "Base",
    components: {
        Navigation,
    },
    data: () => ({
        direction: "top",
        hover: true,
        right: true,
        bottom: true,
        transition: "slide-y-reverse-transition",
    }),
    computed: {
        budget() {
            return this.$store.getters.budgetID;
        },
    },
};
</script>
<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
    position: absolute;
}

#create .v-btn--floating {
    position: relative;
}
</style>
