<template>
    <v-row>
        <v-col v-for="label in labels" :key="label.id" cols="12">
            <v-card elevation="2" class="grey lighten-4">
                <v-toolbar elevation="1" dense class="grey lighten-2">
                    <v-toolbar-title>{{ label.name }}</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>

                    <v-btn icon>
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-simple-table class="grey lighten-4">
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Value</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="membership in label.memberships" :key="membership.id">
                                    <td>{{ membership.job.name }}</td>
                                    <td>{{ membership.job.value }}</td>
                                    <td class="text-right">
                                        <v-btn icon>
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import axios from "axios";
export default {
    name: "Budget",
    data: () => ({
        labels: [],
    }),
    methods: {
        test(value) {
            console.log(value);
        },
        init() {
            let labels = [];
            axios
                .get(`${this.$store.getters.backendAPI}/api/labels?budgetID=${this.budgetID}&limit=100000`)
                .then(response => {
                    labels = response.data;
                    let requests = [];
                    labels.forEach(label => {
                        let request = axios.get(
                            `${this.$store.getters.backendAPI}/api/memberships/job-label/jobs?labelID=${label.id}`,
                        );
                        requests.push(request);
                        label.memberships = [];
                    });
                    Promise.all(requests).then(results => {
                        results.forEach(result => {
                            if (result.data.length > 0) {
                                let index = labels.findIndex(label => label.id == result.data[0].labelID);
                                labels[index].memberships = result.data;
                            }
                        });
                    });
                    this.labels = labels;
                })
                .catch(error => {
                    console.log(error);
                });
        },
    },
    computed: {
        budgetID() {
            try {
                return parseInt(this.$store.getters.budgetID);
            } catch {
                return NaN;
            }
        },
    },
    watch: {
        budgetID(value) {
            console.log(value);
            if (!isNaN(value)) {
                this.init();
            }
        },
    },
    created() {
        this.init();
    },
};
</script>
