<template>
    <v-row>
        <v-col cols="12">
            <v-card elevation="2" class="grey lighten-4">
                <v-toolbar elevation="1" dense class="grey lighten-2">
                    <v-toolbar-title>Transactions</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn fab color="accent black--text" small elevation="1">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-progress-linear v-if="loading" indeterminate></v-progress-linear>
                <v-card-text>
                    <v-simple-table class="grey lighten-4">
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left">Date</th>
                                    <th class="text-left">Charge Account</th>
                                    <th class="text-left">Favour Account</th>
                                    <th class="text-left">Charge Job</th>
                                    <th class="text-left">Value</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="transaction in transactions" :key="transaction.id">
                                    <td>{{ transaction.date }}</td>
                                    <td>{{ transaction.charge_account.name }}</td>
                                    <td>{{ transaction.favor_of_account.name }}</td>
                                    <td>{{ transaction.charge_job.name }}</td>
                                    <td>{{ transaction.value }}</td>
                                    <td class="text-right">
                                        <v-btn icon color="blue accent-2">
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-btn icon color="red accent-6" @click="deleteTransaction(transaction)">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import axios from "axios";
export default {
    name: "Transactions",
    data: () => ({
        transactions: [],
        offset: 0,
        limit: 12,
        total: 10000,
        loading: false,
    }),
    methods: {
        editTransaction(transaction) {
            console.log(transaction);
        },
        deleteTransaction(transaction) {
            axios
                .delete(`${this.$store.getters.backendAPI}/api/transaction/${transaction.id}`)
                .then(() => {
                    let index = this.transactions.indexOf(transaction);
                    this.transactions.splice(index, 1);
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getTransactions() {
            this.loading = true;
            axios
                .get(
                    `${this.$store.getters.backendAPI}/api/transactions?budgetID=${this.budgetID}&limit=${this.limit}&offset=${this.offset}`,
                )
                .then(response => {
                    let tmpArray = [];
                    this.transactions = tmpArray.concat(this.transactions, response.data);
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                    this.loading = false;
                });
            this.offset = this.offset + this.limit;
        },
        init() {
            this.getTransactions();
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow =
                    Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) +
                        window.innerHeight ===
                    document.documentElement.offsetHeight;

                if (bottomOfWindow) {
                    console.log("Getting new transactions");
                    this.getTransactions();
                    console.log("Received them");
                }
            };
        },
    },
    computed: {
        budgetID() {
            try {
                return parseInt(this.$store.getters.budgetID);
            } catch {
                return NaN;
            }
        },
    },
    watch: {
        budgetID(value) {
            console.log(value);
            if (!isNaN(value)) {
                this.init();
            }
        },
    },
    created() {
        this.init();
    },
    mounted() {
        this.scroll();
    },
};
</script>
