<template>
    <v-list two-line shaped>
        <v-subheader>Budget Accounts</v-subheader>

        <v-list-item-group color="primary">
            <v-list-item v-for="account in accounts" :key="account.id" :to="'/account/' + account.id">
                <!--- Comented out till we have icons for the different budgets
                        <v-list-item-icon>
                            <v-icon v-text="account.icon"></v-icon>
                        </v-list-item-icon>
                        --->
                <v-list-item-content>
                    <v-list-item-title v-text="account.name"></v-list-item-title>
                    <v-list-item-subtitle v-text="'Value: ' + account.value"></v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
        <br />
        <v-row justify="space-around" align="center">
            <v-btn color="accent black--text" :to="'/account'" small> Add Account </v-btn>
        </v-row>
    </v-list>
</template>

<script>
export default {
    name: "AccountsList",
    computed: {
        accounts() {
            return this.$store.getters.accounts;
        },
    },
};
</script>
