<template>
    <div>
        <v-app-bar color="primary" dense app dark>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <div>
                <v-select
                    @change="toDashboard()"
                    label="Select Budget"
                    v-model="budgetID"
                    :items="budgets"
                    item-text="name"
                    item-value="id"
                    hide-details
                    solo-inverted
                    flat
                ></v-select>
            </div>
            <v-menu left bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item v-for="n in 5" :key="n" @click="() => {}">
                        <v-list-item-title>Option {{ n }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        <v-navigation-drawer app v-model="drawer">
            <navigation-list :navItems="navItems"></navigation-list>
            <accounts-list></accounts-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
import axios from "axios";
import { routes } from "@/router/index.js";
import AccountsList from "@/components/AccountsList.vue";
import NavigationList from "@/components/NavigationList.vue";
import AccountService from "@/service/AccountService.js";

export default {
    name: "Navigation",
    components: {
        AccountsList,
        NavigationList,
    },
    data: () => ({
        drawer: true,
        budgetID: undefined,
        budgets: [],
        navItems: [],
    }),
    watch: {
        budgetID: function (value) {
            let budget = this.budgets.find(item => item.id == value);
            if (budget !== undefined) {
                this.$store.dispatch("insertBudget", budget);
                localStorage.budgetID = value;
                this.getAccounts();
            }
        },
    },
    methods: {
        getAccounts() {
            AccountService.getAll();
        },
        toDashboard() {
            this.$router.push({ name: "Dashboard" });
        },
    },
    created() {
        this.navItems = routes.filter(route => route.nav);
    },
    mounted() {
        axios
            .get(this.$store.getters.backendAPI + "/api/budgets")
            .then(response => {
                this.budgets = response.data;
                this.$store.dispatch("insertBudgets", this.budgets);
                // can be tooken out under the condition that the axios request finished before we read/update stuff from local storage
                if (localStorage.budgetID) {
                    let budgetID = parseInt(localStorage.budgetID);
                    if (isNaN(budgetID)) {
                        this.budgetID = localStorage.budgetID;
                    } else {
                        this.budgetID = budgetID;
                    }
                }
            })
            .catch(error => {
                // Implement default API url...
                console.log(error);
            });
    },
};
</script>
