<template>
    <v-app>
        <!--- 
        Here we could implement the login view with a condition. 
        This allows us to controll the behavior in terms of not lunching 
        the app when the user is not logged in
        --->
        <Base></Base>
    </v-app>
</template>

<script>
import Base from "@/views/Base.vue";

export default {
    name: "App",
    components: {
        Base,
    },
    data: () => ({}),
};
</script>
